In [2]:
import numpy as np
import pandas as pd
import os
from typing import Any, Dict

import torch
from torch.utils.data import DataLoader

from odyssey.utils.utils import seed_everything

In [ ]:
data_path = "./odyssey/P12data/"

data_train = pd.read_pickle(data_path + "train_df.pkl")
data_test = pd.read_pickle(data_path + "test_df.pkl")
data_val = pd.read_pickle(data_path + "validation_df.pkl")

In [4]:
data_test

                                                      0
0     {'ts_values': [[0.16966099858624017, 0.0, 0.0,...
1     {'ts_values': [[-0.32848355450987454, 0.0, 0.0...
2     {'ts_values': [[-0.9359767612187836, 0.0, 0.0,...
3     {'ts_values': [[-0.9481265944542595, 0.0, 0.0,...
4     {'ts_values': [[-0.5755307301074263, 0.0, 0.0,...
...                                                 ...
1194  {'ts_values': [[-0.11549178892936751, 0.0, 0.0...
1195  {'ts_values': [[0.49291640614646515, 0.0, 0.0,...
1196  {'ts_values': [[1.4075428027736463, 0.0, 0.0, ...
1197  {'ts_values': [[-3.3871953395617784, 0.0, 0.0,...
1198  {'ts_values': [[-1.05026414413779, 0.0, 0.0, 0...

[5995 rows x 1 columns]

In [ ]:
seed_everything(42)
os.environ["CUDA_LAUNCH_BLOCKING"] = "1"
torch.cuda.empty_cache()
torch.set_float32_matmul_precision("medium")

train_loader = DataLoader(
    data_train,
    batch_size=10,
    num_workers=1,
    persistent_workers=False,
    shuffle=True,
    pin_memory=True,
)
val_loader = DataLoader(
    data_val,
    batch_size=10,
    num_workers=1,
    persistent_workers=False,
    shuffle=False,
    pin_memory=True,
)

model = MambaPretrain(
    vocab_size=37,
)

Seed set to 42

In [5]:
train_loader.dataset

                                                      0
0     {'ts_values': [[1.0485010473636527, 0.0, 0.0, ...
1     {'ts_values': [[-0.3487333280668382, 0.0, 0.0,...
2     {'ts_values': [[-0.7334790256491472, 0.0, 0.0,...
3     {'ts_values': [[-0.2110348060820808, 0.0, 0.0,...
4     {'ts_values': [[-0.7334790256491472, 0.0, 0.0,...
...                                                 ...
9585  {'ts_values': [[-0.9293883926503422, 0.0, 0.0,...
9586  {'ts_values': [[-3.3871953395617784, 0.0, 0.0,...
9587  {'ts_values': [[-1.2920156471126854, 0.0, 0.0,...
9588  {'ts_values': [[-0.15578370609185008, 0.0, 0.0...
9589  {'ts_values': [[-1.271869688531444, 0.0, 0.0, ...

[47950 rows x 1 columns]